$pink:#a82682;
.nav{

  transition: top 0.3s;
  padding: 28px 0 24.7px 0;
  width: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: rgba(255,255,255,0.5);
  &__row{
    display: flex;
    align-items: center;
  }
  &__list{
    display: flex;
  }
  &__item {
    margin-right: 48px;
    text-transform: uppercase;
    font-family: "HelveticaNeueBold",sans-serif;
    color: #2b2a29;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.21;
    font-weight: bold;
  }
  &__item--hover{position: relative;}
  &__item--hover::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
  }
  &__item--hover:hover &__inside-menu{
    display: block;
  }
  &__item:hover{
    color: #a82682;
  }
  &__item--hover:hover .arrow{
    transform: rotate(0.5turn);
  }

  &__inside-menu{
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 5;
    display: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: white;
    text-transform: none;
    transform: translateY(53px) translateX(-13px);
  }
  &__inside-menu::after{
    content: "";
    position: absolute;
    left: 30px;
    bottom: 100%;
    margin-left: 0;
    border: solid 11px transparent;
    border-bottom-color: white;
  }
  &__inside-item{
    padding-right: 100px;
    padding-bottom: 3.5px;
    margin: 21px 61px 24px 40px;
    font-weight: normal;
    line-height: 1.14;
    font-size: 14px;
    border-bottom: solid 1px rgba(43, 42, 41, 0.3);
    color: #2b2a29;
  }
  &__inside-item a{
    color: #2b2a29;
  }
  &__inside-item:hover a{
    color: #a82682;
  }
  &__inside-item:last-child{
    margin-bottom: 29px;
  }
  &__eye{
  }
  &-menu-icon{
    display: none;
    cursor: pointer;
  }
  &-menu{
   position: fixed;
    background-color: #fff;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100vh;
  }
  &-menu__inner{
    max-height: 100%;
    overflow: auto;
  }
  &-menu__top{
    position: relative;
  }
  &-menu__top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: #a82682;
  }
  &-menu__top-inside{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: flex-start;
  }
  &-menu__top-link{
    display: inline-flex;
    align-items: center;
    margin: 12px 22px 12px 0;
    color: #a82682;
    outline: none;
    border: none;
    font-size: 18px;
  }
  &-menu__content{
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  &-menu__nav{
    padding-top: 40px;
    position: relative;
    height: 100%;
  }
  &-menu__nav-list{
    display: flex;
    flex-direction: column;
  }
  &-menu__nav-item:first-child{
    border-top: solid 1px #d5d4d4;
  }
  &-menu__nav-item{
    position: relative;
    font-family: Arial,sans-serif;
    padding: 15px 0;
    border-bottom: solid 1px #d5d4d4;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
  }
  &-menu__link{
    color: #4c4c4c;
  }
  &-menu__link--color{
    color: #a82682;
  }
  &-menu__link:hover{
    color: #a82682;
  }
  &-menu--is-hidden{
    display: none;
  }
  &-menu__nav-hidden{
    display: flex;
    position: relative;
    z-index:20;
    flex-direction: column;
    margin-top: 15px;
    transform: translateX(28px);
  }
  &-menu__nav-item-hover{
    width: 100%;
    position: absolute;
    display: block;
    height: 1px;
    pointer-events: none;
    transition: .3s ease;
  }
  &-menu__nav-item-hover::before{
    content: '';
    position: absolute;
    top: 0;
    left: -28px;
    width: 0;
    height: 0;
    margin: 0;

    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid #a82682;
  }
  &-menu__nav-item-hover::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid #a82682;
  }
}
.banner{
  flex: 1 1 auto;
}
.list{}
@media screen and (max-width: 1125px) {
  .container{
   padding-left: 36px;
    padding-right: 36px;
  }
  .nav{
    background-color: white;
  }
  .nav-menu{
    padding-top: 20px;
  }
  .nav__list{
    display: none;
  }
  .nav__eye{
    display: none;
  }
  .nav-menu-icon{
    display: block;
  }

}

